@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
@font-face {
  font-family: Lato, sans-serif; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.54; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.main_header {
  background: #e8ebf1; }

.main_nav__list {
  margin: 0 auto;
  padding: 44px 0 40px;
  width: 1000px;
  list-style: none; }

.main_nav__item {
  position: relative;
  display: block;
  padding: 6px 40px 7px 8px;
  float: left;
  border: 1px solid transparent; }

.main_logo {
  float: left;
  margin: -16px 201px 0 -2px;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  line-height: 50px; }

.main_logo:hover a {
  text-shadow: 0 0 4px #8C8C8C, 0 0 8px #8C8C8C;
  transition: .3s; }

.main_logo:hover a b {
  text-shadow: 0 0 4px #4EC2D9FF, 0 0 8px #4EC2D9FF;
  transition: .2s; }

.main_logo a {
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: none;
  text-decoration: none; }

.main_logo b {
  font-weight: normal;
  color: #2aacc8; }

.main_nav__item:nth-child(6) {
  padding-right: 36px; }

.main_nav__item:last-child {
  padding: 5px 17px 7px 9px;
  float: right; }

.main_nav__item a {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; }

.main_nav__item::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 101%;
  height: 5px;
  background-color: transparent;
  transition: 0s; }

.main_nav__services::before,
.main_nav__portfolio::before {
  transition: 0s .3s; }

.main_nav__item:hover::before {
  background-color: #2aacc8;
  transition: .3s; }

.main_nav__item:hover {
  background: #ffffff;
  border-left: 1px solid #dfe1e5;
  border-right: 1px solid #dfe1e5;
  border-top: 1px solid #dfe1e5;
  transition: .3s; }

.main_nav__item:hover a {
  color: #2aacc8;
  transition: .3s; }

.main_nav__services:hover .sub_services__menu,
.main_nav__portfolio:hover .sub_portfolio__menu {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.sub_menu {
  position: relative; }

.sub_menu::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -16px;
  width: 5px;
  height: 7px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: cover;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.sub_services__menu,
.sub_portfolio__menu {
  position: absolute;
  display: block;
  left: -1px;
  top: 34px;
  min-width: 185px;
  padding: 10px 6px 9px;
  list-style: none;
  background-color: #ffffff;
  border-left: 1px solid #dfe1e5;
  border-right: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  -webkit-transform: rotateX(-80deg);
          transform: rotateX(-80deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: .3s;
  z-index: 111130; }

.sub_services__menu::after,
.sub_portfolio__menu::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -1px;
  width: 101%;
  height: 5px;
  background-color: #2aacc8;
  z-index: 30; }

.sub_services__item,
.sub_portfolio__item {
  padding: 11px 15px 11px 8px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  font-weight: lighter;
  line-height: 1;
  color: #000000; }

.sub_services__item:last-child,
.sub_portfolio__item:last-child {
  border: none; }

.main_nav__services,
.main_nav__portfolio {
  transition: 0s .3s;
  -webkit-perspective: 100px;
          perspective: 100px;
  z-index: 2; }

.main_nav__services .sub_services__item a,
.main_nav__portfolio .sub_portfolio__item a {
  color: #000000;
  text-transform: none;
  text-decoration: none; }

.main_nav__services:hover .sub_services__item:hover a,
.main_nav__portfolio:hover .sub_portfolio__item:hover a {
  color: #2aacc8; }

.main_slider {
  background-color: #81e4ed;
  border-top: solid 1px #66ccccff; }

.main_slide__list {
  margin: 0 auto;
  position: relative;
  padding: 19px 0 2px;
  height: auto !important;
  width: 1000px;
  list-style: none; }

.main_slide {
  margin: 0;
  position: absolute;
  top: 19px;
  left: 0;
  width: 1000px;
  height: 440px;
  overflow: hidden;
  transition: opacity 2s, z-index 2s;
  opacity: 0;
  z-index: 0; }

.main_slide a {
  position: absolute;
  margin: auto;
  width: 100%; }

.main_slide img {
  width: 100%;
  height: auto; }

.slide_control {
  display: none; }

.slider_control {
  margin: 4px auto 0;
  width: 155px; }

.slider_control label {
  display: inline-block;
  margin: 7px;
  width: 14px;
  height: 14px;
  background: #71a3a7;
  border-radius: 50%;
  cursor: pointer; }

.slide_3 {
  top: 0;
  position: relative; }

#button_slide_1:checked ~ .slide_1,
#button_slide_2:checked ~ .slide_2,
#button_slide_3:checked ~ .slide_3,
#button_slide_4:checked ~ .slide_4,
#button_slide_5:checked ~ .slide_5 {
  transition: 3s;
  opacity: 1;
  z-index: 1; }

#button_slide_1:checked ~ .slider_control label:nth-child(1),
#button_slide_2:checked ~ .slider_control label:nth-child(2),
#button_slide_3:checked ~ .slider_control label:nth-child(3),
#button_slide_4:checked ~ .slider_control label:nth-child(4),
#button_slide_5:checked ~ .slider_control label:nth-child(5) {
  transition: .7s;
  background-color: #ffffff; }

.quality {
  background-color: #e8ebf1; }

.quality_list {
  margin: 0 auto;
  padding: 60px 0 44px;
  width: 1000px;
  list-style: none; }

.quality_item {
  float: left;
  margin-right: 40px;
  width: 220px; }

.quality_item:last-child {
  margin-right: 0;
  float: right; }

.title_quality {
  margin: 0;
  padding: 5px 0 14px 60px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.quality_1 {
  background: url(../img/pencil.svg) no-repeat; }

.quality_2 {
  background: url(../img/fullscreen.svg) no-repeat; }

.quality_3 {
  background: url(../img/view_list.svg) no-repeat; }

.quality_4 {
  background: url(../img/plane.svg) no-repeat; }

.quality_item p {
  margin: 13px 0 20px; }

.quality_item a {
  padding-left: 15px;
  position: relative;
  font-weight: bold;
  color: #81e4ed;
  text-decoration: none; }

.quality_item a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 5px;
  height: 7px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.quality_item a:hover {
  color: #2aacc8;
  text-decoration: underline;
  text-shadow: 0 0 3px #8C8C8C; }

.works {
  border-top: 1px solid #d9d9d9; }

.works input {
  display: none; }

.works_title {
  margin: 0 auto;
  width: 1000px;
  border-bottom: 1px solid #dfe1e5; }

.works_title h2 {
  padding: 11px 10px 0 40px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/works_arrow.svg) 2px 7px no-repeat; }

.works_buttons {
  display: none;
  position: absolute;
  top: -40px;
  right: -5px;
  float: right; }

.works_button {
  margin-right: 4px;
  position: relative;
  visibility: hidden;
  width: 20px;
  height: 20px; }

.works_button::after {
  content: "";
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #81e4ed url(../img/arrow.svg) 6px 5px no-repeat;
  overflow: hidden; }

.button_next::after {
  margin-left: 6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.works_button:hover::after {
  background-color: #2aacc8;
  box-shadow: 0 2px 3px #8C8C8C;
  transition: .3s; }

.button_next:hover::after {
  box-shadow: 0 -2px 3px #8C8C8C; }

.works_list {
  margin: 0 auto;
  padding: 20px 0 34px;
  position: relative;
  /*for works_buttons*/
  width: 1000px;
  list-style: none;
  border-bottom: 1px solid #dfe1e5; }

.example_works {
  margin-right: 37px;
  display: none;
  width: 220px;
  height: 160px;
  overflow: hidden; }

.work_links {
  position: relative;
  top: -6px;
  width: 100%;
  height: 80px;
  background: #2aacc8;
  transition: top .5s; }

.example_works:hover .work_links {
  top: -86px;
  transition: .5s; }

.work_link {
  margin: 10px 0 0 55px;
  position: relative;
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  background: #2aacc8; }

.link_work {
  margin: 10px 0 0 3px; }

.work_link::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 35px;
  height: 26px; }

.link_work::after {
  top: 16px;
  left: 19px; }

.link_preview::after {
  background: url(../img/work_preview.svg) no-repeat; }

.link_work::after {
  background: url(../img/work_link.svg) no-repeat; }

.work_link:hover {
  background: radial-gradient(#94E7EF, #2aacc8 70%); }

#work_board_1:checked ~ .example_1,
#work_board_2:checked ~ .example_2,
#work_board_3:checked ~ .example_3,
#work_board_4:checked ~ .example_4,
#work_board_5:checked ~ .example_5 {
  display: inline-block; }

#work_board_1:checked ~ .example_2,
#work_board_2:checked ~ .example_3,
#work_board_3:checked ~ .example_4,
#work_board_4:checked ~ .example_5,
#work_board_5:checked ~ .example_6,
#work_board_7:checked ~ .example_1 {
  display: inline-block; }

#work_board_1:checked ~ .example_3,
#work_board_2:checked ~ .example_4,
#work_board_3:checked ~ .example_5,
#work_board_4:checked ~ .example_6,
#work_board_5:checked ~ .example_7,
#work_board_6:checked ~ .example_1,
#work_board_7:checked ~ .example_2 {
  display: inline-block; }

#work_board_1:checked ~ .example_4,
#work_board_2:checked ~ .example_5,
#work_board_3:checked ~ .example_6,
#work_board_4:checked ~ .example_7,
#work_board_5:checked ~ .example_1,
#work_board_6:checked ~ .example_2,
#work_board_7:checked ~ .example_3 {
  display: inline-block;
  margin-right: 0;
  float: right; }

#work_board_6:checked ~ .example_6,
#work_board_7:checked ~ .example_7 {
  display: inline-block;
  float: left; }

#work_board_6:checked ~ .example_7 {
  display: inline-block;
  float: left; }

#work_board_1:checked ~ .works_1,
#work_board_2:checked ~ .works_2,
#work_board_3:checked ~ .works_3,
#work_board_4:checked ~ .works_4,
#work_board_5:checked ~ .works_5,
#work_board_6:checked ~ .works_6,
#work_board_7:checked ~ .works_7 {
  display: block; }

.recommendation {
  margin: 20px auto;
  width: 1000px; }

.recommendation_column {
  width: 480px; }

.testimonials {
  margin-right: 40px;
  float: left; }

.clients {
  float: right; }

.recommendation h2 {
  margin: 0 0 11px;
  padding: 2px 10px 0 40px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.testimonials p {
  margin: 11px 0 26px;
  padding-right: 50px;
  line-height: 24px; }

.testimonials b {
  font-weight: bold;
  font-style: italic; }

.testimonials h2 {
  background: url(../img/testimonials.svg) 1px 1px no-repeat; }

.clients h2 {
  background: url(../img/clients.svg) 1px -1px no-repeat; }

.client_list {
  padding: 0;
  list-style: none; }

.client {
  padding: 0;
  float: left;
  width: 160px;
  height: 100px; }

.client:nth-child(3),
.client:nth-child(6) {
  float: right; }

.main_footer {
  background: #e8ebf1;
  border-top: 1px solid #d9d9d9; }

.footer_columns {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  list-style: none; }

.footer_columns h2 {
  margin: 27px 0 17px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.footer_item {
  float: left; }

.about_us {
  width: 270px; }

.about_us p {
  padding-right: 45px;
  line-height: 17px; }

.explore {
  margin-right: 5px;
  width: 145px; }

.explore h2,
.browse h2 {
  padding: 0 30px;
  margin: 27px 0 5px; }

.explore_list,
.browse_list {
  padding: 0 30px; }

.explore_list li,
.browse_list li {
  margin-bottom: 6px; }

.explore_list a,
.browse_list a {
  color: #000000;
  text-decoration: none; }

.explore_list a:hover,
.browse_list a:hover {
  color: #2aacc8;
  text-decoration: underline;
  text-shadow: 0 0 3px #8C8C8C; }

.browse {
  width: 170px; }

.contact_us {
  padding: 0 30px;
  width: 130px; }

.contact_us h2 {
  margin-bottom: 13px; }

.contact_us b {
  margin: 0 0 -3px;
  display: block; }

.contact_us p {
  margin: 0 0 17px;
  line-height: 17px; }

.footer_columns ul {
  list-style: none; }

.connect {
  float: right;
  width: 200px; }

.connect h2 {
  margin: 27px 0 10px 20px; }

.connect_list {
  padding: 0; }

.connect_list li {
  margin: 2px 3px 0 9px;
  float: left;
  display: block;
  background: #e8ebf1; }

.connect_list a {
  content: "";
  display: block;
  width: 58px;
  height: 58px; }

.connect_list li:nth-child(3),
.connect_list li:nth-child(6) {
  margin: 2px -7px 0 0;
  float: right; }

.facebook {
  background: url(../img/facebook.png) 2px 4px no-repeat; }

.dribbble {
  background: url(../img/dribbble.png) 2px 4px no-repeat; }

.pinterest {
  background: url(../img/pinterest.png) 2px 4px no-repeat; }

.linkedin {
  background: url(../img/linkedin.png) 2px 4px no-repeat; }

.skype {
  background: url(../img/skype.png) 2px 4px no-repeat; }

.share {
  background: url(../img/share.png) 2px 4px no-repeat; }

.connect_list li:hover {
  background: radial-gradient(#000000, #e8ebf1 68%); }

.connect_list li:active {
  background: radial-gradient(#000000, #e8ebf1 73%); }

.bottom_footer {
  margin: 0 auto;
  padding-bottom: 45px;
  width: 1000px; }

.copyright {
  margin-top: 10px;
  float: left;
  width: 645px; }

.copyright p {
  line-height: 18px; }

.bottom_footer .main_logo {
  margin: 16px 0 10px; }

.bottom_footer a {
  float: right; }

.bottom_footer .main_logo {
  float: right;
  margin-right: -2px; }

/*portfolio_page*/
.all_works {
  margin: 0 auto;
  width: 1000px; }

.all_works h1 {
  padding: 31px 40px 0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/paint_brush.svg) -2px 27px no-repeat; }

.menu_filters {
  padding: 15px 0;
  list-style: none;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5; }

.menu_filters__item {
  padding: 5px 17px 4px 18px;
  float: left; }

.menu_filters__item a {
  color: #000000;
  text-decoration: none; }

.menu_filters__item a:hover {
  color: #2aacc8;
  text-shadow: 0 0 3px #8C8C8C; }

.active_page {
  background: #81e4ed;
  pointer-events: none;
  cursor: default; }

.page_works {
  padding: 7px 0 7px;
  list-style: none; }

.portfolio_example {
  position: relative;
  float: left;
  margin: 20px 40px 20px 0;
  width: 220px;
  height: 160px;
  overflow: hidden;
  transition: .5s; }

.portfolio_example:nth-child(3),
.portfolio_example:nth-child(7),
.portfolio_example:nth-child(11),
.portfolio_example:nth-child(15) {
  margin-right: 0; }

.portfolio_example:nth-child(4),
.portfolio_example:nth-child(8),
.portfolio_example:nth-child(12),
.portfolio_example:last-child {
  float: right;
  margin-right: 0; }

.portfolio_example:hover .work_links {
  top: -86px;
  transition: .5s; }

.nav_pages {
  margin: 0 auto;
  padding: 30px 0 40px 2px;
  width: 240px;
  list-style: none; }

.nav_pages_item {
  float: left;
  margin-right: 4px;
  padding: 5px 10px 3px 10px; }

.nav_pages_item a:hover {
  color: #2aacc8;
  text-shadow: 0 0 3px #8C8C8C; }

.nav_pages_item a {
  color: #000000;
  text-decoration: none; }

.last_page,
.next_page {
  width: 7px;
  height: 18px;
  background: #e8ebf1; }

.last_page a,
.next_page a {
  position: relative;
  visibility: hidden; }

.next_page {
  margin-left: 20px; }

.last_page a::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 2px;
  left: -2px;
  width: 12px;
  height: 9px;
  background: url(../img/last_page_arrow.svg) no-repeat; }

.next_page a::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 2px;
  width: 6px;
  height: 9px;
  background: url(../img/page_arrow.svg) no-repeat; }

.last_page:hover,
.next_page:hover {
  width: 7px;
  height: 18px;
  background: #d9d9d9; }

.last_page:hover a::after,
.next_page:hover a::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition: .3s; }

/*contact_us_page*/
.contact_page {
  margin: 32px auto;
  width: 1000px; }

.contact_page h1 {
  padding: 11px 10px 1px 40px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/email.svg) 0 13px no-repeat; }

.contact {
  border-top: #dfe1e5 1px solid; }

.feadback {
  padding-top: 23px;
  float: left;
  line-height: 18px;
  width: 570px;
  letter-spacing: 0.45px; }

.feadback a {
  font-weight: bold;
  text-decoration: none;
  color: #2aacc8; }

.feadback a:hover {
  text-decoration: underline;
  color: #2aacc8;
  text-shadow: 0 0 3px #8C8C8C; }

.feadback p {
  margin-bottom: 28px; }

.feadback input {
  margin-top: 5px;
  margin-bottom: 35px; }

.feadback textarea {
  margin-top: 5px; }

.feadback_button {
  position: relative;
  margin: 23px 0 7px -2px;
  width: 160px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background: linear-gradient(#81e4ed, #2aacc8);
  border: #2aacc8 1px solid;
  border-radius: 6px;
  box-shadow: 0 2px 5px -2px #000000;
  transition: .3s; }

.feadback_button::before,
.feadback_button::after {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#50C5D9, #50C5D9);
  border: #2aacc8 1px solid;
  border-radius: 6px;
  box-shadow: 0 3px 18px -3px #000000;
  opacity: 0;
  z-index: 2;
  transition: .3s; }

.feadback_button::after {
  box-shadow: 0 5px 30px 2px #ffffff;
  transition: 0s; }

.feadback_button p {
  display: block;
  position: relative;
  margin: 3px 0 0 27px;
  z-index: 3; }

.feadback_button p::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -14px;
  width: 25px;
  height: 25px;
  background: url(../img/button_arrow.svg) no-repeat; }

.feadback_button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  transition: .3s; }

.feadback_button:hover::before {
  opacity: 1; }

.feadback_button:active::after {
  opacity: 1; }

.location {
  margin-right: 22px;
  padding-top: 40px;
  width: 340px;
  float: right; }

.map {
  padding: 20px 20px 15px 20px;
  background-color: #e8ebf1;
  border: #81e4ed 1px solid; }

.map p {
  margin: 0 0 0 -2px;
  font-weight: bold; }

.frame_map {
  margin-top: 23px;
  height: 190px;
  border: #ffffff 5px solid; }

.adress h3 {
  margin-top: 33px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.adress p {
  margin-bottom: 16px;
  line-height: 17px; }
